#
# IGNORE FILES AND FOLDERS

# various
acc
des
test
.DS_Store
.eslintrc
*~
*.graffle
*.data
.smbdelete*
* copy.*
*.sublime-workspace
*.codekit3
.jsbeautifyrc
*-min.js
!app_utils-min.js


# assets ignore all except assets
assets/*
!assets/images
